 Escolher uma API da lista disponível;<br> 
✓ Fazer a extração de pelo menos 3 tabelas;<br> 
✓ Criar um alerta de erro usando a função 
alerta() do desafio da aula Fundamentos 
de programação III.

In [1]:
import pandas as pd
import requests
from plyer import notification
from datetime import datetime

In [2]:
import pandas as pd
import requests

def api_bc():
    # URL da API
    url = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias_com_categoria?$format=json"

    # Faz a solicitação HTTP
    resposta = requests.get(url)

    # Verifica se a solicitação foi bem-sucedida (código de status 200)
    if resposta.status_code == 200:
        # Converte os dados JSON para um DataFrame
        dados_json = resposta.json()
        df_bc = pd.DataFrame(dados_json['value'])

        return df_bc
    else:
       # Obtém a data e hora da execução
        data_e_hora_execucao = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        
        # Exibe um alerta de erro de conexão usando o plyer
        error_message = f"Erro de conexão: Status Code {resposta.status_code} - Data e Hora da Execução: {data_e_hora_execucao}"
        notification.notify(
            title='Erro de Conexão na API',
            message=error_message,
            app_name='Api Banco Central',
        )
        return None
# Exemplo de uso da função
dados_bc = api_bc()

# Exibindo os primeiros registros do DataFrame
(dados_bc.head(10))

,Data,Quantidade,Valor,Categoria,Denominacao,Especie
0,1994-11-22,204914511,1.024573e+09,Cédulas - 1a. família,5.00,Cédulas
1,2019-09-13,1200332884,1.200333e+07,Moedas - 2a. Família,0.01,Moedas
2,2019-09-13,5392981432,2.696491e+08,Moedas - 2a. Família,0.05,Moedas
3,2019-09-13,5681159148,5.681159e+08,Moedas - 2a. Família,0.10,Moedas
4,2019-09-13,2661509938,6.653775e+08,Moedas - 2a. Família,0.25,Moedas
5,2019-09-13,2567531046,1.283766e+09,Moedas - 2a. Família,0.50,Moedas
6,2019-09-13,3152225174,3.152225e+09,Moedas - 2a. Família,1.00,Moedas
7,2019-09-13,3508356,3.508356e+07,Cédulas - em polímero,10.00,Cédulas
8,2019-09-13,148761504,1.487615e+08,Cédulas - 1a. família,1.00,Cédulas
9,2019-09-13,151965810,3.039316e+08,Cédulas - 1a. família,2.00,Cédulas