 # Projeto Final
 ---
 ## Descrição projeto final

<b>Objetivos gerais</b><br>

✓ Construção de um pipeline de dados, que consiste em várias etapas: extração, tratamentos, alertas, deploy e documentação.<br>
<i>O objetivo geral do projeto é permitir que os dados brutos sejam coletados, processados, analisados e disponibilizados para uso em diferentes áreas de negócios</i><br><br>
Suas etapas são:
- [x] - Escolher uma API da lista disponível; <br>
- [x] - Fazer a extração de pelo menos 3 tabelas;<br>
- [x] - Realizar os tratamentos devidos das tabelas; <br>
Adicionar os dados tratados em um banco de dados para consulta; <br>
Validar as tabelas disponibilizadas<br><br>

Seu projeto deverá:
- [x] - Estar disponível no GitHub;<br>
- [x] - Ter Documentação;<br>
Ter um virtual environment criado para o projeto; <br>
Ter um sistema de alerta.<br>

### Primeira entrega

In [1]:
import requests
import pandas as pd
from datetime import datetime
from plyer import notification

In [2]:
def ler_api_bc():
    # URL dinheiro_em_circulacao
    url_dinheiro_em_circulacao = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias_com_categoria?$format=json"

    # URL chancelas
    url_chancelas = "https://olinda.bcb.gov.br/olinda/servico/mecir_chancelas/versao/v1/odata/TodosDadosChancelas?$format=json"

    # URL moedas_comemorativas
    url_moedas_comemorativas = "https://olinda.bcb.gov.br/olinda/servico/mecir_moedas_comemorativas/versao/v1/odata/informacoes_diarias?$format=json"

    # Inicializa DataFrames vazios
    df_dinheiro_em_circulacao = pd.DataFrame()
    df_chancelas = pd.DataFrame()
    df_moedas_comemorativas = pd.DataFrame()

    # Função para ler dados da  API e exibir notificação em caso de falha
    def ler_e_notificar(url, df, api_bc):
        try:
            # Faz a solicitação HTTP
            resposta = requests.get(url)

            # Verifica se a solicitação foi bem-sucedida (código de status 200)
            resposta.raise_for_status()

            # Converte os dados JSON para um DataFrame
            dados_json = resposta.json()
            df = pd.DataFrame(dados_json['value'])

            return df
        except requests.exceptions.RequestException as e:
             # Exibe um alerta de erro de conexão usando o plye
            print(f"Erro de conexão {api_bc}: {e}")
            erro_mensagem = f"Dados da {api_bc} não carregados em {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}"
            notification.notify(
                title='Erro de Conexão na API',
                message=erro_mensagem,
                timeout=10,  # Tempo em segundos que a notificação será exibida
                app_name='Api Banco Central'
            )
            return None

    # Chama a função para a  API dinheiro_em_circulaca
    df_dinheiro_em_circulacao = ler_e_notificar(url_dinheiro_em_circulacao, df_dinheiro_em_circulacao, "API dinheiro_em_circulaca")

    # Chama a função para a  API chancelas
    df_chancelas = ler_e_notificar(url_chancelas, df_chancelas, "API chancelas")

    # Chama a função para a  API moedas_comemorativas
    df_moedas_comemorativas = ler_e_notificar(url_moedas_comemorativas, df_moedas_comemorativas, "API moedas_comemorativas")

    return df_dinheiro_em_circulacao, df_chancelas, df_moedas_comemorativas

# Exemplo de uso da função
dados_dataframe_dinheiro_em_circulacao, dados_dataframe_chancelas, dados_moedas_comemorativas = ler_api_bc()

# Exibindo os primeiros registros do DataFrame  dinheiro_em_circulacao
display(dados_dataframe_dinheiro_em_circulacao.head(5))

# Exibindo os primeiros registros do Dataframe chancelas
display(dados_dataframe_chancelas.head(5))

# Exibindo os primeiros registros do DataFrame moedas_comemorativas.hea
display(dados_moedas_comemorativas.head(5))

,Data,Quantidade,Valor,Categoria,Denominacao,Especie
0,1994-11-22,204914511,1.024573e+09,Cédulas - 1a. família,5.00,Cédulas
1,2019-09-13,1200332884,1.200333e+07,Moedas - 2a. Família,0.01,Moedas
2,2019-09-13,5392981432,2.696491e+08,Moedas - 2a. Família,0.05,Moedas
3,2019-09-13,5681159148,5.681159e+08,Moedas - 2a. Família,0.10,Moedas
4,2019-09-13,2661509938,6.653775e+08,Moedas - 2a. Família,0.25,Moedas

,descricaoFamilia,descricaoDenominacao,chancelaMinistro,chancelaBC,serieInicial,serieFinal,serieReposicao
0,Segunda Família do Real,"R$ 5,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,KC000000001,KC081550000,None
1,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AA000000001,AA050400000,None
2,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AH000000001,AH100200000,None
3,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AI000000001,AI237000000,None
4,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AJ000000001,AJ062400000,None

,Data,Quantidade,Valor,Categoria,Denominacao
0,1995-05-23,1865,37300.0,Moedas comemorativas Tetra campeonato,20.00
1,2019-09-13,7000,14000.0,Moedas comemorativas 300 anos CMB,2.00
2,2019-09-13,5000,15000.0,Moedas comemorativas 30 anos BC,3.00
3,2019-09-13,9000,36000.0,Moedas comemorativas Tetra campeonato,4.00
4,2019-09-13,2000,40000.0,Moedas comemorativas Tetra campeonato,20.00

### Segunda entrega

In [3]:
# Verifique os tipos de dados da tabela 1 
print(dados_dataframe_dinheiro_em_circulacao.dtypes)

Data            object
Quantidade       int64
Valor          float64
Categoria       object
Denominacao     object
Especie         object
dtype: object

In [4]:
# Verifique os tipos de dados da tabela 2 
print(dados_dataframe_chancelas.dtypes)

descricaoFamilia        object
descricaoDenominacao    object
chancelaMinistro        object
chancelaBC              object
serieInicial            object
serieFinal              object
serieReposicao          object
dtype: object

In [5]:
# Verifique os tipos de dados da tabela 3 
print(dados_moedas_comemorativas.dtypes)

Data            object
Quantidade       int64
Valor          float64
Categoria       object
Denominacao     object
dtype: object

In [6]:
# Verificar células que contêm valores ausentes nos DataFrames 
celulas_com_missing_dados_dataframe_dinheiro_em_circulacao = dados_dataframe_dinheiro_em_circulacao.isna()
celulas_com_missing_dados_dataframe_chancelas = dados_dataframe_chancelas.isna()
celulas_com_missing_dados_moedas_comemorativas = dados_moedas_comemorativas.isna()

# Exibir os DataFrames resultantes com True onde há valores ausentes e False onde os valores estão presentes
print(celulas_com_missing_dados_dataframe_dinheiro_em_circulacao.head(5))
print(celulas_com_missing_dados_dataframe_chancelas.head(5))
print(celulas_com_missing_dados_moedas_comemorativas.head(5))

    Data  Quantidade  Valor  Categoria  Denominacao  Especie
0  False       False  False      False        False    False
1  False       False  False      False        False    False
2  False       False  False      False        False    False
3  False       False  False      False        False    False
4  False       False  False      False        False    False
   descricaoFamilia  descricaoDenominacao  chancelaMinistro  chancelaBC  \
0             False                 False             False       False
1             False                 False             False       False
2             False                 False             False       False
3             False                 False             False       False
4             False                 False             False       False

   serieInicial  serieFinal  serieReposicao
0         False       False            True
1         False       False            True
2         False       False            True
3         False       False            True
4         False       False            True
    Data  Quantidade  Valor  Categoria  Denominacao
0  False       False  False      False        False
1  False       False  False      False        False
2  False       False  False      False        False
3  False       False  False      False        False
4  False       False  False      False        False

In [7]:
# Formta co campo Data para o formato dd-mm-yyyy  dataframe dados_dataframe_dinheiro_em_circulacao

dados_dataframe_dinheiro_em_circulacao['Data'] = pd.to_datetime(dados_dataframe_dinheiro_em_circulacao['Data'])
dados_dataframe_dinheiro_em_circulacao['Data_formatada'] = dados_dataframe_dinheiro_em_circulacao['Data'].dt.strftime('%d-%m-%Y')

dinheiro_em_circulacao = dados_dataframe_dinheiro_em_circulacao
dinheiro_em_circulacao # Criado o dataframe dinheiro_em_circulacao para receber o valor do dataframe dados_dataframe_dinheiro_em_circulacao desta forma forma não sendo necessário fazer alteração nós dados da origem

,Data,Quantidade,Valor,Categoria,Denominacao,Especie,Data_formatada
0,1994-11-22,204914511,1.024573e+09,Cédulas - 1a. família,5.00,Cédulas,22-11-1994
1,2019-09-13,1200332884,1.200333e+07,Moedas - 2a. Família,0.01,Moedas,13-09-2019
2,2019-09-13,5392981432,2.696491e+08,Moedas - 2a. Família,0.05,Moedas,13-09-2019
3,2019-09-13,5681159148,5.681159e+08,Moedas - 2a. Família,0.10,Moedas,13-09-2019
4,2019-09-13,2661509938,6.653775e+08,Moedas - 2a. Família,0.25,Moedas,13-09-2019
...,...,...,...,...,...,...,...
196269,2023-10-20,19984500,1.998450e+07,Moedas - 2a. Família - Mascote Paralímpica,1.00,Moedas,20-10-2023
196270,2023-10-20,50000000,5.000000e+07,Moedas - 2a. Família - BC 50 anos,1.00,Moedas,20-10-2023
196271,2023-10-20,24996000,2.499600e+07,Moedas - 2a. Família - REAL 25 anos,1.00,Moedas,20-10-2023
196272,2023-10-20,97270000,4.863500e+06,Moedas - 2a. Família - (A),0.05,Moedas,20-10-2023
196273,2023-10-20,47263900,2.363195e+07,Moedas - 2a. Família - (A),0.50,Moedas,20-10-2023

In [8]:
# Formta co campo Data para o formato dd-mm-yyyy  dataframe dados_moedas_comemorativas
dados_moedas_comemorativas['Data'] = pd.to_datetime(dados_moedas_comemorativas['Data'])
dados_moedas_comemorativas['Data_formatada'] = dados_moedas_comemorativas['Data'].dt.strftime('%d-%m-%Y')

moedas_comemorativas = dados_moedas_comemorativas
moedas_comemorativas # Criado o dataframe moedas_comemorativas para receber o valor do dataframe dados_moedas_comemorativas desta forma forma não sendo necessário fazer alteração nós dados da origem

,Data,Quantidade,Valor,Categoria,Denominacao,Data_formatada
0,1995-05-23,1865,37300.0,Moedas comemorativas Tetra campeonato,20.00,23-05-1995
1,2019-09-13,7000,14000.0,Moedas comemorativas 300 anos CMB,2.00,13-09-2019
2,2019-09-13,5000,15000.0,Moedas comemorativas 30 anos BC,3.00,13-09-2019
3,2019-09-13,9000,36000.0,Moedas comemorativas Tetra campeonato,4.00,13-09-2019
4,2019-09-13,2000,40000.0,Moedas comemorativas Tetra campeonato,20.00,13-09-2019
...,...,...,...,...,...,...
267951,2023-10-20,13500,13500.0,Cartela Rio 2016 - Judô,1.00,20-10-2023
267952,2023-10-20,13500,13500.0,Cartela Rio 2016 - Boxe,1.00,20-10-2023
267953,2023-10-20,13500,13500.0,Cartela Rio 2016 - Natação Paralímpica,1.00,20-10-2023
267954,2023-10-20,15500,15500.0,Cartela Rio 2016 - Mascote Olímpica,1.00,20-10-2023
267955,2023-10-20,15500,15500.0,Cartela Rio 2016 - Mascote Paralímpica,1.00,20-10-2023

In [9]:
# Filtra para que os dataframes dinheiro_em_circulacao e  moedas_comemorativas somente exibam dados 
dinheiro_em_circulacao.query('Data.dt.year == 2023')
display(dinheiro_em_circulacao)

moedas_comemorativas.query('Data.dt.year == 2023')
display(moedas_comemorativas)

,Data,Quantidade,Valor,Categoria,Denominacao,Especie,Data_formatada
0,1994-11-22,204914511,1.024573e+09,Cédulas - 1a. família,5.00,Cédulas,22-11-1994
1,2019-09-13,1200332884,1.200333e+07,Moedas - 2a. Família,0.01,Moedas,13-09-2019
2,2019-09-13,5392981432,2.696491e+08,Moedas - 2a. Família,0.05,Moedas,13-09-2019
3,2019-09-13,5681159148,5.681159e+08,Moedas - 2a. Família,0.10,Moedas,13-09-2019
4,2019-09-13,2661509938,6.653775e+08,Moedas - 2a. Família,0.25,Moedas,13-09-2019
...,...,...,...,...,...,...,...
196269,2023-10-20,19984500,1.998450e+07,Moedas - 2a. Família - Mascote Paralímpica,1.00,Moedas,20-10-2023
196270,2023-10-20,50000000,5.000000e+07,Moedas - 2a. Família - BC 50 anos,1.00,Moedas,20-10-2023
196271,2023-10-20,24996000,2.499600e+07,Moedas - 2a. Família - REAL 25 anos,1.00,Moedas,20-10-2023
196272,2023-10-20,97270000,4.863500e+06,Moedas - 2a. Família - (A),0.05,Moedas,20-10-2023
196273,2023-10-20,47263900,2.363195e+07,Moedas - 2a. Família - (A),0.50,Moedas,20-10-2023

,Data,Quantidade,Valor,Categoria,Denominacao,Data_formatada
0,1995-05-23,1865,37300.0,Moedas comemorativas Tetra campeonato,20.00,23-05-1995
1,2019-09-13,7000,14000.0,Moedas comemorativas 300 anos CMB,2.00,13-09-2019
2,2019-09-13,5000,15000.0,Moedas comemorativas 30 anos BC,3.00,13-09-2019
3,2019-09-13,9000,36000.0,Moedas comemorativas Tetra campeonato,4.00,13-09-2019
4,2019-09-13,2000,40000.0,Moedas comemorativas Tetra campeonato,20.00,13-09-2019
...,...,...,...,...,...,...
267951,2023-10-20,13500,13500.0,Cartela Rio 2016 - Judô,1.00,20-10-2023
267952,2023-10-20,13500,13500.0,Cartela Rio 2016 - Boxe,1.00,20-10-2023
267953,2023-10-20,13500,13500.0,Cartela Rio 2016 - Natação Paralímpica,1.00,20-10-2023
267954,2023-10-20,15500,15500.0,Cartela Rio 2016 - Mascote Olímpica,1.00,20-10-2023
267955,2023-10-20,15500,15500.0,Cartela Rio 2016 - Mascote Paralímpica,1.00,20-10-2023