 Escolher uma API da lista disponível;<br> 
✓ Fazer a extração de pelo menos 3 tabelas;<br> 
✓ Criar um alerta de erro usando a função 
alerta() do desafio da aula Fundamentos 
de programação III.

In [2]:
import requests
import pandas as pd
from datetime import datetime
from plyer import notification

In [3]:
def ler_api_bc():
    # URL dinheiro_em_circulacao
    url_dinheiro_em_circulacao = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias_com_categoria?$format=json"

    # URL chancelas
    url_chancelas = "https://olinda.bcb.gov.br/olinda/servico/mecir_chancelas/versao/v1/odata/TodosDadosChancelas?$format=json"

    # URL moedas_comemorativas
    url_moedas_comemorativas = "https://olinda.bcb.gov.br/olinda/servico/mecir_moedas_comemorativas/versao/v1/odata/informacoes_diarias?$format=json"

    # Inicializa DataFrames vazios
    df_dinheiro_em_circulacao = pd.DataFrame()
    df_chancelas = pd.DataFrame()
    df_moedas_comemorativas = pd.DataFrame()

    # Função para ler dados da  API e exibir notificação em caso de falha
    def ler_e_notificar(url, df, api_bc):
        try:
            # Faz a solicitação HTTP
            resposta = requests.get(url)

            # Verifica se a solicitação foi bem-sucedida (código de status 200)
            resposta.raise_for_status()

            # Converte os dados JSON para um DataFrame
            dados_json = resposta.json()
            df = pd.DataFrame(dados_json['value'])

            return df
        except requests.exceptions.RequestException as e:
             # Exibe um alerta de erro de conexão usando o plye
            print(f"Erro de conexão {api_bc}: {e}")
            erro_mensagem = f"Dados da {api_bc} não carregados em {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}"
            notification.notify(
                title='Erro de Conexão na API',
                message=erro_mensagem,
                timeout=10,  # Tempo em segundos que a notificação será exibida
                app_name='Api Banco Central'
            )
            return None

    # Chama a função para a  API dinheiro_em_circulaca
    df_dinheiro_em_circulacao = ler_e_notificar(url_dinheiro_em_circulacao, df_dinheiro_em_circulacao, "API dinheiro_em_circulaca")

    # Chama a função para a  API chancelas
    df_chancelas = ler_e_notificar(url_chancelas, df_chancelas, "API chancelas")

    # Chama a função para a  API moedas_comemorativas
    df_moedas_comemorativas = ler_e_notificar(url_moedas_comemorativas, df_moedas_comemorativas, "API moedas_comemorativas")

    return df_dinheiro_em_circulacao, df_chancelas, df_moedas_comemorativas

# Exemplo de uso da função
dados_dataframe_dinheiro_em_circulacao, dados_dataframe_chancelas, dados_moedas_comemorativas = ler_api_bc()

# Exibindo os primeiros registros do DataFrame  dinheiro_em_circulacao
display(dados_dataframe_dinheiro_em_circulacao.head(5))

# Exibindo os primeiros registros do Dataframe chancelas
display(dados_dataframe_chancelas.head(5))

# Exibindo os primeiros registros do DataFrame moedas_comemorativas.hea
display(dados_moedas_comemorativas.head(5))

,Data,Quantidade,Valor,Categoria,Denominacao,Especie
0,1994-11-22,204914511,1.024573e+09,Cédulas - 1a. família,5.00,Cédulas
1,2019-09-13,1200332884,1.200333e+07,Moedas - 2a. Família,0.01,Moedas
2,2019-09-13,5392981432,2.696491e+08,Moedas - 2a. Família,0.05,Moedas
3,2019-09-13,5681159148,5.681159e+08,Moedas - 2a. Família,0.10,Moedas
4,2019-09-13,2661509938,6.653775e+08,Moedas - 2a. Família,0.25,Moedas

,descricaoFamilia,descricaoDenominacao,chancelaMinistro,chancelaBC,serieInicial,serieFinal,serieReposicao
0,Segunda Família do Real,"R$ 5,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,KC000000001,KC081550000,None
1,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AA000000001,AA050400000,None
2,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AH000000001,AH100200000,None
3,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AI000000001,AI237000000,None
4,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AJ000000001,AJ062400000,None

,Data,Quantidade,Valor,Categoria,Denominacao
0,1995-05-23,1865,37300.0,Moedas comemorativas Tetra campeonato,20.00
1,2019-09-13,7000,14000.0,Moedas comemorativas 300 anos CMB,2.00
2,2019-09-13,5000,15000.0,Moedas comemorativas 30 anos BC,3.00
3,2019-09-13,9000,36000.0,Moedas comemorativas Tetra campeonato,4.00
4,2019-09-13,2000,40000.0,Moedas comemorativas Tetra campeonato,20.00

In [4]:
# Verifique os tipos de dados da tabela 1 
print(dados_dataframe_dinheiro_em_circulacao.dtypes)

Data            object
Quantidade       int64
Valor          float64
Categoria       object
Denominacao     object
Especie         object
dtype: object

In [5]:
# Verifique os tipos de dados da tabela 2 
print(dados_dataframe_chancelas.dtypes)

descricaoFamilia        object
descricaoDenominacao    object
chancelaMinistro        object
chancelaBC              object
serieInicial            object
serieFinal              object
serieReposicao          object
dtype: object

In [6]:
# Verifique os tipos de dados da tabela 3 
print(dados_moedas_comemorativas.dtypes)

Data            object
Quantidade       int64
Valor          float64
Categoria       object
Denominacao     object
dtype: object

In [7]:
# Verificar células que contêm valores ausentes nos DataFrames 
celulas_com_missing_dados_dataframe_dinheiro_em_circulacao = dados_dataframe_dinheiro_em_circulacao.isna()
celulas_com_missing_dados_dataframe_chancelas = dados_dataframe_chancelas.isna()
celulas_com_missing_dados_moedas_comemorativas = dados_moedas_comemorativas.isna()

# Exibir os DataFrames resultantes com True onde há valores ausentes e False onde os valores estão presentes
print(celulas_com_missing_dados_dataframe_dinheiro_em_circulacao.head(5))
print(celulas_com_missing_dados_dataframe_chancelas.head(5))
print(celulas_com_missing_dados_moedas_comemorativas.head(5))

    Data  Quantidade  Valor  Categoria  Denominacao  Especie
0  False       False  False      False        False    False
1  False       False  False      False        False    False
2  False       False  False      False        False    False
3  False       False  False      False        False    False
4  False       False  False      False        False    False
   descricaoFamilia  descricaoDenominacao  chancelaMinistro  chancelaBC  \
0             False                 False             False       False
1             False                 False             False       False
2             False                 False             False       False
3             False                 False             False       False
4             False                 False             False       False

   serieInicial  serieFinal  serieReposicao
0         False       False            True
1         False       False            True
2         False       False            True
3         False       False            True
4         False       False            True
    Data  Quantidade  Valor  Categoria  Denominacao
0  False       False  False      False        False
1  False       False  False      False        False
2  False       False  False      False        False
3  False       False  False      False        False
4  False       False  False      False        False

In [9]:
dados_dataframe_chancelas.columns = dados_dataframe_chancelas.columns.str.replace(r'([a-z])([A-Z])', r'\1 \2')
display(dados_dataframe_chancelas.head(5))# Utilizando expressões regulares para adicionar espaços antes de cada letra maiúscula

,descricaoFamilia,descricaoDenominacao,chancelaMinistro,chancelaBC,serieInicial,serieFinal,serieReposicao
0,Segunda Família do Real,"R$ 5,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,KC000000001,KC081550000,None
1,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AA000000001,AA050400000,None
2,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AH000000001,AH100200000,None
3,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AI000000001,AI237000000,None
4,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AJ000000001,AJ062400000,None

In [12]:
import re
# Adicionar espaços antes de cada letra maiúscula
for coluna in dados_dataframe_chancelas.columns:
    dados_dataframe_chancelas.rename(columns={coluna: re.sub(r'([a-z])([A-Z])', r'\1 \2', coluna)}, inplace=True)

# Exibir os primeiros registros do DataFrame após a modificação
display(dados_dataframe_chancelas.head(5))

,descricao Familia,descricao Denominacao,chancela Ministro,chancela BC,serie Inicial,serie Final,serie Reposicao
0,Segunda Família do Real,"R$ 5,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,KC000000001,KC081550000,None
1,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AA000000001,AA050400000,None
2,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AH000000001,AH100200000,None
3,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AI000000001,AI237000000,None
4,Segunda Família do Real,"R$ 200,00 (2ª família)",Paulo Roberto Nunes Guedes,Roberto Campos Neto,AJ000000001,AJ062400000,None